* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
body {
  background-image: url(img/bg3.gif);
  background-size: cover;
  background-attachment: fixed;
  /*background-color: #b49967;*/
}
header {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  text-transform: uppercase;
}
h1 {
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 5px;
  color: white;
  font-family: "Source Code Pro", monospace;
}
.input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  margin: 0 auto;
  max-width: 500px;
  font-family: "Source Code Pro", monospace;
  border-color: white;
}
.input {
  flex: 1 1 40%;
  margin: 15px;
  appearance: none;
  border-radius: 8px;
  padding: 15px;
  border: 1px;
  transition: 0.4s;
  max-width: 100%;
  color: rgb(31, 25, 85);
  border-color: white;
}
::placeholder {
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(31, 25, 85);
  font-family: "Source Code Pro", monospace;
}

footer {
  background: none;
}
.link {
  text-decoration: none;
}
